<!DOCTYPE html>
<html lang="fr">
<head>
	
	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>{% block title %}AZCreator{% endblock %}</title>
	<meta name="description" content="Bootstrap Metro Dashboard">
	<meta name="author" content="Dennis Ji">
	<meta name="keyword" content="Metro, Metro UI, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->
	
	<!-- start: CSS -->
	 {% block stylesheets %}
	<link id="bootstrap-style" href="{{asset('css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{asset('css/bootstrap-responsive.min.css') }}" rel="stylesheet">
	<link id="base-style" href="{{asset('css/style.css') }}" rel="stylesheet">
	<link id="base-style-responsive" href="{{asset('css/style-responsive.css') }}" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>

		 <link href="{{asset('css/jquery.tagit.css') }}" rel="stylesheet" type="text/css">
		 <link href="{{asset('css/tagit.ui-zendesk.css') }}" rel="stylesheet" type="text/css">

	    {% endblock %}
	<!-- end: CSS -->
	

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  	<script src="{{asset('http://html5shim.googlecode.com/svn/trunk/html5.js') }}" type="text/javascript"></script>
		<link id="ie-style" href="css/ie.css" rel="stylesheet">
	<![endif]-->
	
	<!--[if IE 9]>
		<link id="ie9style" href="css/ie9.css" rel="stylesheet">
	<![endif]-->
		
	<!-- start: Favicon -->
	<link rel="shortcut icon" href="img/favicon.ico">
	<!-- end: Favicon -->
	
		
		
		
</head>

<body>
		<!-- start: Header -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="{{path('back_office_homepage')}}"><span><img src="{{asset('img/logo.png') }} " height="92" width="150"></span></a>
								
				<!-- start: Header Menu -->
				{% block headermenu %}
				{% endblock %}
				
				<!-- end: Header Menu -->
				
			</div>
		</div>
	</div>
	<!-- start: Header -->
		{% block head %}
		<div class="container-fluid-full">
		<div class="row-fluid">
				
			<!-- start: Main Menu -->
			<div id="sidebar-left" class="span2">
				<div class="nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li>
							<a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> Hébérgements</span></a>
							<ul>
								<li><a class="submenu" href="{{ path('ajouter-hebergement')}}"><i class="icon-edit"></i><span class="hidden-tablet"> Nouvel hébergement</span></a></li>
								<li><a class="submenu" href="{{ path('liste-hebergement')}}"><i class="icon-list-alt"></i></i><span class="hidden-tablet"> Liste des hébergements</span></a></li>
							</ul>	
						</li>
						<li>
							<a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> Projets</span></a>
							<ul>
								<li><a class="submenu" href="{{ path('ajouter-projet')}}"><i class="icon-edit"></i><span class="hidden-tablet"> Nouveau projet</span></a></li>
								<li><a class="submenu" href="{{ path('liste-projet')}}"><i class="icon-list-alt"></i></i><span class="hidden-tablet"> Liste des projets</span></a></li>
							</ul>	
						</li>
						<li>
							<a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> Clients</span></a>
							<ul>
								<li><a class="submenu" href="{{ path('ajouter-client')}}"><i class="icon-edit"></i><span class="hidden-tablet"> Nouveau client</span></a></li>
								<li><a class="submenu" href="{{ path('liste-client')}}"><i class="icon-list-alt"></i></i><span class="hidden-tablet"> Liste des clients</span></a></li>
							</ul>	
						</li>
						<li>
							<a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> Collaborateurs</span></a>
							<ul>
								<li><a class="submenu" href="{{ path('ajouter-collaborateur')}}"><i class="icon-edit"></i><span class="hidden-tablet"> Nouveau collaborateur</span></a></li>
								<li><a class="submenu" href="{{ path('liste-collaborateur')}}"><i class="icon-list-alt"></i></i><span class="hidden-tablet"> Liste des collaborateurs</span></a></li>
							</ul>	
						</li>
						<li>
							<a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> Postes collaborateurs</span></a>
							<ul>
								<li><a class="submenu" href="{{ path('ajouter-poste-col')}}"><i class="icon-edit"></i><span class="hidden-tablet"> Nouveau poste</span></a></li>
								<li><a class="submenu" href="{{ path('liste-poste-col')}}"><i class="icon-list-alt"></i></i><span class="hidden-tablet"> Liste des postes</span></a></li>
							</ul>	
						</li>
						<li>
							<a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> Types de projets</span></a>
							<ul>
								<li><a class="submenu" href="{{ path('ajouter-type-projet')}}"><i class="icon-edit"></i><span class="hidden-tablet"> Nouveau type de projets</span></a></li>
								<li><a class="submenu" href="{{ path('liste-type-projet')}}"><i class="icon-list-alt"></i></i><span class="hidden-tablet"> Liste des types de projets</span></a></li>
							</ul>	
						</li>
						<li>
							<a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> Statuts de projets</span></a>
							<ul>
								<li><a class="submenu" href="{{ path('ajouter-statut-projet')}}"><i class="icon-edit"></i><span class="hidden-tablet"> Nouveau statut de projets</span></a></li>
								<li><a class="submenu" href="{{ path('liste-statut-projet')}}"><i class="icon-list-alt"></i></i><span class="hidden-tablet"> Liste des statuts de projets</span></a></li>
							</ul>	
						</li>
						<li>
							<a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> Statuts de tâches</span></a>
							<ul>
								<li><a class="submenu" href="{{ path('ajouter-statut-tache')}}"><i class="icon-edit"></i><span class="hidden-tablet"> Nouveau statut de tâches</span></a></li>
								<li><a class="submenu" href="{{ path('liste-statut-tache')}}"><i class="icon-list-alt"></i></i><span class="hidden-tablet"> Liste des statuts de tâches</span></a></li>
							</ul>	
						</li>
						<li>
							<a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> Types de dépenses</span></a>
							<ul>
								<li><a class="submenu" href="{{ path('ajouter-type-depense')}}"><i class="icon-edit"></i><span class="hidden-tablet"> Nouveau type de dépenses</span></a></li>
								<li><a class="submenu" href="{{ path('liste-type-depense')}}"><i class="icon-list-alt"></i></i><span class="hidden-tablet"> Liste des types de dépenses</span></a></li>
							</ul>	
						</li>

						
					</ul>
				</div>
			</div>

			<!-- end: Main Menu -->
			{% endblock %}
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>

			<!-- start: Content -->

			{% block body %}
			

			
        {% endblock %}

		</div>
			
						
			
				
				
		
			
       

	
	


	
	<div class="common-modal modal fade" id="common-Modal1" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-content">
			<ul class="list-inline item-details">
				<li><a href="http://themifycloud.com">Admin templates</a></li>
				<li><a href="http://themescloud.org">Bootstrap themes</a></li>
			</ul>
		</div>
	</div>
	
	<div class="clearfix"></div>

	
	<footer>

		<p>
			<span style="text-align:left;float:left">&copy; 2015 <a href="#" alt="Bootstrap_Metro_Dashboard">EL MINAOUI ABDERRAHMANE @ AZCreator</a></span>
			
		</p>

	</footer>
	
	<!-- start: JavaScript-->
	 {% block javascripts %}

		<script src="{{asset('js/jquery-1.9.1.min.js') }}" type="text/javascript"></script>
	<script src="{{asset('js/jquery-migrate-1.0.0.min.js') }}" type="text/javascript"></script>
	
		<script src="{{asset('js/jquery-ui-1.10.0.custom.min.js') }}" type="text/javascript"></script>
	
		<script src="{{asset('js/jquery.ui.touch-punch.js') }}" type="text/javascript"></script>
	
		<script src="{{asset('js/modernizr.js') }}" type="text/javascript"></script>
	
		<script src="{{asset('js/bootstrap.min.js') }}" type="text/javascript"></script>
	
		<script src="{{asset('js/jquery.cookie.js') }}" type="text/javascript"></script>
	
		<script src="{{asset('js/fullcalendar.min.js') }}" type="text/javascript"></script>
	
		<script src="{{asset('js/jquery.dataTables.min.js') }}" type="text/javascript"></script>

		<script src="{{asset('js/excanvas.js') }}" type="text/javascript"></script>
	<script src="{{asset('js/jquery.flot.js') }}" type="text/javascript"></script>
	<script src="{{asset('js/jquery.flot.pie.js') }}" type="text/javascript"></script>
	<script src="{{asset('js/jquery.flot.stack.js') }}" type="text/javascript"></script>
	<script src="{{asset('js/jquery.flot.resize.min.js') }}" type="text/javascript"></script>
	
		<script src="{{asset('js/jquery.chosen.min.js') }}" type="text/javascript"></script>
	
		<script src="{{asset('js/jquery.uniform.min.js') }}" type="text/javascript"></script>
		
		<script src="{{asset('js/jquery.cleditor.min.js') }}" type="text/javascript"></script>
	
		<script src="{{asset('js/jquery.noty.js') }}" type="text/javascript"></script>
	
		<script src="{{asset('js/jquery.elfinder.min.js') }}" type="text/javascript"></script>
	
		<script src="{{asset('js/jquery.raty.min.js') }}" type="text/javascript"></script>
	
		<script src="{{asset('js/jquery.iphone.toggle.js') }}" type="text/javascript"></script>
	
		<script src="{{asset('js/jquery.uploadify-3.1.min.js') }}" type="text/javascript"></script>
	
		<script src="{{asset('js/jquery.gritter.min.js') }}" type="text/javascript"></script>
	
		<script src="{{asset('js/jquery.imagesloaded.js') }}" type="text/javascript"></script>
	
		<script src="{{asset('js/jquery.masonry.min.js') }}" type="text/javascript"></script>
	
		<script src="{{asset('js/jquery.knob.modified.js') }}" type="text/javascript"></script>
	
		<script src="{{asset('js/jquery.sparkline.min.js') }}" type="text/javascript"></script>
	
		<script src="{{asset('js/counter.js') }}" type="text/javascript"></script>
	
		<script src="{{asset('js/retina.js') }}" type="text/javascript"></script>

		<script src="{{asset('js/custom.js') }}" type="text/javascript"></script>
		<script type="text/javascript"src="{{ asset('js/highcharts.js') }}"></script>
		 <script type="text/javascript"src="{{ asset('js/highcharts-3d.js') }}"></script>
		 <script type="text/javascript"src="{{ asset('js/modules/drilldown.js') }}"></script>
		 <script type="text/javascript"src="{{ asset('js/tag-it.js') }}"></script>




		 <script>
			 $( "#statut" ).click(function() {
				 $( "#changerstatut" ).toggle( "slow" );
			 });
		 </script>
		{% endblock %}
	<!-- end: JavaScript-->

</body>
</html>
