{% extends "BackOfficeBundle::frontlayout.html.twig" %}

{% block title %}
  Modifier un collaborateur  {{ parent() }}
{% endblock %}

{% block content_body %}
<div class="row-fluid sortable ui-sortable">

					<div class="box-header" data-original-title="">
						<h2><i class="halflings-icon white edit"></i><span class="break"></span>collaborateur : {{ collaborateur.nom }}</h2>
						<div class="box-icon">
							
						</div>
					</div>
					<div class="box-content">
					{% for flashMessage in app.session.flashbag.get('notice') %}
					<div class="alert alert-success">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>Succès ! </strong> {{ flashMessage }}
						</div>

        
					{% endfor %}
						{% for flashMessage in app.session.flashbag.get('notice_erreur') %}
							<div class="alert alert-error">
								<button type="button" class="close" data-dismiss="alert">×</button>
								<strong>Erreur !</strong> {{ flashMessage }}
							</div>


						{% endfor %}
						{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
						{{ form_errors(form) }}
						<fieldset>


							<div class="control-group">
								<label class="control-label" for="date01">Nom </label>
								<div class="controls">
									<div class="input-prepend">
										{{ form_widget(form.nom, {'attr': {'class': 'input-prepend'}}) }}

									</div>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="date01">Prénom </label>
								<div class="controls">
									<div class="input-prepend">
										{{ form_widget(form.prenom, {'attr': {'class': 'input-prepend'}}) }}

									</div>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="date01">Email </label>
								<div class="controls">
									<div class="input-prepend">
										{{ form_widget(form.email, {'attr': {'class': 'input-prepend'}}) }}

									</div>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="date01">Mot de passe </label>
								<div class="controls">
									<div class="input-prepend">
										{{ form_widget(form.password, {'attr': {'class': 'input-prepend'}}) }}

									</div>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="date01">Mot de passe (validation) </label>
								<div class="controls">
									<div class="input-prepend">
										{{ form_widget(form.verif, {'attr': {'class': 'input-prepend'}}) }}

									</div>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="date01">Téléphone </label>
								<div class="controls">
									<div class="input-prepend">
										{{ form_widget(form.telephone, {'attr': {'class': 'input-prepend'}}) }}

									</div>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="date01">Photo </label>
								<div class="controls">
									<div class="input-prepend">
										{{ form_widget(form.file, {'attr': {'class': 'input-prepend'}}) }}

									</div>
								</div>
							</div>


							<div class="form-actions">
								{{ form_widget(form.Enregistrer,{'attr': {'class': 'btn btn-primary'}},{ 'label': 'Ajouter' }) }}
								<button type="reset" class="btn">Cancel</button>

							</div>


						</fieldset>
						{{ form_end(form) }}

					</div>
				</div>



{% endblock %}

