{% extends "BackOfficeBundle::frontlayout.html.twig" %}

{% block title %}
    Tache  {{ parent() }}
{% endblock %}

{% block content_body %}
{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Succès ! </strong> {{ flashMessage }}
    </div>


{% endfor %}
	{% for flashMessage in app.session.flashbag.get('notice_erreur') %}
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Erreur !</strong> {{ flashMessage }}
    </div>


{% endfor %}
	<div class="row-fluid sortable">

				<div class="box span8">

					<div class="box-header">
						<h2><i class="halflings-icon white font"></i><span class="break"></span>Tâche : {{ tache.titre }}</h2>
						<div class="box-icon">
						<a href="{{ path('detail-projet', {'id': tache.projet.id}) }}" title="retour au projet"><i class="halflings-icon white cog"></i></a>
								</div>
					</div>

					<div class="box-content" >
						  <div class="row-fluid">
<div class="box-content" >

						<ul class="list">


								<strong>Titre : </strong> {{ tache.titre }}<br><br>
								<strong>Description : </strong>{{ tache.description }}<br><br>

								<strong>Date de début : </strong>{{ tache.datedebut|date("d/m/Y") }} <br><br>
								<strong>Date de fin prévisionnelle  : </strong>{{ tache.datefinprevis|date("d/m/Y") }} <br><br>
								<strong>Date fin réele : </strong>{{ tache.datefinreel|date("d/m/Y") }} <br><br>
								<strong>Projet : </strong><a href="{{ path('detail-projet', {'id': tache.projet.id}) }}">{{ tache.projet.titre }}</a><br/>


						</ul>
	</div>










</div>

			</div>
					  </div>
					  	<div class="box  span4" ontablet="span4" ondesktop="span4">
					<div class="box-header">
						<h2><i class="halflings-icon white user"></i><span class="break"></span>Collaborateurs</h2>
						<div class="box-icon">



						</div>
					</div>
					<div class="box-content">
						<ul class="dashboard-list metro">
						{% for prod in prods %}
    {% set photo='avatars/'~prod.collaborateur.path  %}

    <li class="red">

        {% if prod.collaborateur.path=='' %}
            <a href="{{ path('view-collaborateur', {'id': prod.collaborateur.id}) }}">
                <img class="avatar" alt="Dennis Ji" src="{{asset('avatars/avatar.png') }}">
            </a>

        {% else %}
            <a href="{{ path('view-collaborateur', {'id': prod.collaborateur.id}) }}">
                <img class="avatar" alt="Dennis Ji" src="{{asset(photo) }}">
            </a>


        {% endif %}

        {{ prod.collaborateur.nom }} {{ prod.collaborateur.prenom }}<br>
        <strong>Poste:</strong> {{ prod.collaborateur.postecollaborateur.libelle }}<br>
        <strong>Date d'affectation:</strong> {{ prod.dateaffectation|date("d/m/Y H:m:s") }}<br/>

    </li>

    <br/>
{% endfor %}

						</ul>
					</div>
				</div>
				</div><!--/span-->














				<div class="row-fluid">



<div class="box span12">
					<div class="box-header">
						<h2><i class="halflings-icon white th"></i><span class="break"></span>Discussion</h2>
					</div>
					<div class="box-content">
						<ul class="nav tab-menu nav-tabs" id="myTab">



							<li class="active" ><a href="#messages">Messages</a></li>
								<li><a href="#fichiers">Fichiers</a></li>

						</ul>

						<div id="myTabContent" class="tab-content">

							<div class="tab-pane" id="fichiers">
								<div class="box-content">
						<ul class="chat metro brown">
							{% for fichier in fichiers %}
    {% set file='files/'~fichier.path  %}

    {% if (fichier.collaborateur==null) %}
        <li class="left">
            <img class="avatar" alt="Dennis Ji" src="{{asset('img/avatar.jpg') }}">
		<span class="fichier"><span class="arrow"></span>
									<span class="from">Administrateur : </span>
									<span class="time">{{ fichier.datefichier|date('d/m/y h:m:s') }}</span>
									<span class="text">
										{{ fichier.libelle }}
                                        <br/>
										<a href="{{ asset(file) }}" >
                                            {%  if(fichier.fichier=="pdf" or "pptx" or "ppt" or "rar" or "zip")  %}
                                                <span class="label label-important">{{ fichier.fichier }}</span>
                                            {% elseif (fichier.fichier=='xlsx' or 'xls' or 'png' or 'jpg' or 'jpeg') %}
                                                <span class="label label-success">{{ fichier.fichier }}</span>
                                            {% elseif(fichier.fichier=='doc' or 'docx' or 'txt') %}
                                                <span class="label label-info">{{ fichier.fichier }}</span>
                                            {% else %}
                                                <span class="label label-info">{{ fichier.fichier }}</span>
                                            {% endif %}
                                            <b>{{ fichier.path }}</b>
                                        </a>
									</span>
								</span>
        </li>
    {% elseif (fichier.collaborateur.id==app.user.id) %}
        {% set photo='avatars/'~fichier.collaborateur.path  %}


        <li class="left ">
            {% if fichier.collaborateur.path=='' %}

                <img class="avatar" alt="Dennis Ji" src="{{asset('img/avatar.jpg') }}">
            {% else %}

                <img class="avatar" alt="Dennis Ji" src="{{asset(photo) }}">



            {% endif %}
            <span class="fichier"><span class="arrow"></span>
									<span class="from">Vous</span>
									<span class="time">{{ fichier.datefichier|date('d/m/y h:m:s') }}</span>
									<span class="text">
										{{ fichier.libelle }}
                                        <br/>
										<a href="#" >
                                            {%  if(fichier.fichier=="pdf" or "pptx" or "ppt" or "rar" or "zip")  %}
                                                <span class="label label-important">{{ fichier.fichier }}</span>
                                            {% elseif (fichier.fichier=='xls' or 'xlsx' or 'png' or 'jpg' or 'jpeg') %}
                                                <span class="label label-success">{{ fichier.fichier }}</span>
                                            {% elseif(fichier.fichier=='doc' or 'docx' or 'txt') %}
                                                <span class="label label-info">{{ fichier.fichier }}</span>
                                            {% else %}
                                                <span class="label label-info">{{ fichier.fichier }}</span>
                                            {% endif %}
                                            <b>{{ fichier.path }}</b>
                                        </a>
									</span>
								</span>
        </li>
    {% else %}
        {% set photo='avatars/'~fichier.collaborateur.path  %}


        <li class="left">
            {% if fichier.collaborateur.path=='' %}

                <img class="avatar" alt="Dennis Ji" src="{{asset('img/avatar.jpg') }}">
            {% else %}

                <img class="avatar" alt="Dennis Ji" src="{{asset(photo) }}">



            {% endif %}
            <span class="fichier"><span class="arrow"></span>
									<span class="from">{{ fichier.collaborateur.nom }} {{ fichier.collaborateur.prenom }}</span>
									<span class="time">{{ fichier.datefichier|date('d/m/y h:m:s') }}</span>
									<span class="text">
										{{ fichier.libelle }}
                                        <br/>
										<a href="#" >
                                            {%  if(fichier.fichier=="pdf" or "pptx" or "ppt" or "rar" or "zip")  %}
                                                <span class="label label-important">{{ fichier.fichier }}</span>
                                            {% elseif (fichier.fichier=='xls' or 'xlsx' or 'png' or 'jpg' or 'jpeg') %}
                                                <span class="label label-success">{{ fichier.fichier }}</span>
                                            {% elseif(fichier.fichier=='doc' or 'docx' or 'txt') %}
                                                <span class="label label-info">{{ fichier.fichier }}</span>
                                            {% else %}
                                                <span class="label label-info">{{ fichier.fichier }}</span>
                                            {% endif %}
                                            <b>{{ fichier.path }}</b>
                                        </a>
									</span>
								</span>
        </li>
    {% endif %}

{% endfor %}
						</ul>
						{{ form_start(form3) }}
						<div class="chat-form blue">
							<div class="control-group">
							  <label class="control-label" for="typeahead">Titre </label>
							  <div class="controls">

								{{ form_widget(form3.libelle, {'attr': {'class': 'span6 typeahead'}}) }}
							  </div>
							</div>
							<div class="control-group">
							  <label class="control-label" for="fileInput">Fichier</label>
							  <div class="controls">
								<div class="uploader" id="uniform-fileInput">{{ form_widget(form3.file, {'attr': {'class': 'input-prepend'}}) }}</div>

							   </div>
							</div>
							{{ form_widget(form3.Envoyer,{'attr': {'class': 'btn btn-warning'}},{ 'label': 'Envoyer le message' }) }}
						</div>
						{{ form_end(form3) }}
					</div>
							</div>
							<div class="tab-pane active" id="messages">
								<div class="box-content">

						<ul class="chat metro green" id="listmsg">


						</ul>
						{{ form_start(form2) }}
						<div class="chat-form black">
							{{ form_widget(form2.message, {'attr': {'class': 'input-prepend'}},{'id': 'textmsg'}) }}

							{{ form_widget(form2.Envoyer,{'attr': {'class': 'btn btn-warning'}},{ 'label': 'Envoyer le message' },{ 'id': 'kda'}) }}
						</div>







						{{ form_end(form2) }}
					</div>
							</div>
						</div>
					</div>
				</div><!--/span-->


			</div>



	</div><!--/.fluid-container-->


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        function postForm( $form, callback ){

            /*
             * Get all form values
             */
            var values = {};
            $.each( $form.serializeArray(), function(i, field) {
                values[field.name] = field.value;
            });

            /*
             * Throw the form values to the server!
             */
            $.ajax({
                type        : $form.attr( 'method' ),
                url         : $form.attr( 'action' ),
                data        : values,
                success     : function(data) {
                    callback( data );
                }
            });

        }
        $(document).ready(function(){

            var forms = [
                '[ name="{{ form2.vars.full_name }}"]'
            ];

            $( forms.join(',') ).submit( function( e ){
                e.preventDefault();

                postForm( $(this), function( response ){

                });


                return false;
            });

        });


    </script>
    <script>
        function refresh() {
            $.ajax({
                url: "{{ path('messages-tache', {'id': tache.id}) }}",
                success:
                        function(retour){

                            var msg=retour["messages"];

                            var str="";

                            for(var j=0 ; j< msg["id"].length; j++){
                                var id=msg["id"][j];
                                if(msg["nom"][j]=="Administrateur"){
                                    str+="<li class='left'> <img class='avatar' alt='Dennis Ji' src='{{ asset('img/avatar.jpg') }}'> <span class='message'><span class='arrow'></span> <span class='from'>"+msg['nom'][j]+" "+msg['prenom'][j]+" : </span> <span class='time'>"+msg['date'][j]+"</span> <span class='text'>"+msg['message'][j]+"</span></span></li>";

                                }
                                else if(msg["nom"][j]=="Vous"){
                                    var img=msg['photo'][j];
                                    str+="<li class='right'> <img class='avatar' alt='Dennis Ji' src='{{asset("%s" )| format('"+img+"') | raw }}'> <span class='message'><span class='arrow'></span> <span class='from'>"+msg['nom'][j]+" "+msg['prenom'][j]+" : </span> <span class='time'>"+msg['date'][j]+"</span> <span class='text'>"+msg['message'][j]+"</span></span></li>";

                                }
                                else{
                                    var img=msg['photo'][j];

                                    str+="<li class='left'> <img class='avatar'  src='{{asset("%s" )| format('"+img+"') | raw }}' > <span class='message'><span class='arrow'></span> <span class='from'>"+msg['nom'][j]+" "+msg['prenom'][j]+" : </span> <span class='time'>"+msg['date'][j]+"</span> <span class='text'>"+msg['message'][j]+"</span></span></li>";
                                }

                            }


                            jQuery("#listmsg").html(str);



                        }
            });

            setTimeout('refresh();',3000);
        }
        jQuery(document).ready(function(){ refresh() });
        //refresh();
    </script>
{% endblock %}