
{% extends "::layoutlogin.html.twig" %}
{% block title %}
    - {{ parent() }}
{% endblock %}
{% block body %}
<div id="main" class="animated fadeIn">

    <section id="content_wrapper">

        <div id="canvas-wrapper">
            <canvas height="634" width="1366" id="demo-canvas"></canvas>
        </div>

        <section id="content">
            <div class="admin-form theme-info" id="login1">
                <div class="row mb15 table-layout">
                    <div class="col-xs-6 va-m pln">
                        <img src="{{asset('FilesLogin/logo.png') }}" title="AdminDesigns Logo" class="img-responsive w250">

                    </div>

                </div>
                <div class="panel panel-info mt10 br-n">
                    <div class="panel-heading heading-border bg-white">
                        <span class="panel-title hidden"><i class="fa fa-sign-in"></i>Authentification</span>

                    </div>


                    <form action="{{ path('frontlogin_check') }}" method="post" >
                        <div class="panel-body bg-light p30">
                            <div class="row">
                                <div class="col-sm-7 pr30">
                                    {% if error %}
                                        <div class="alert alert-danger">{{ error.message }}</div>
                                    {% endif %}
                                    <div class="section" >
                                        <label for="username" class="field-label text-muted fs18 mb10">Email</label>
                                        <label for="username" class="field prepend-icon">
                                            <input name="_username" id="username" class="gui-input" placeholder="Entrer votre login" type="text" value="{{ last_username }}">
                                            <label for="username" class="field-icon"><i class="fa fa-user"></i>
                                            </label>
                                        </label>
                                    </div>

                                    <div class="section">
                                        <label for="username" class="field-label text-muted fs18 mb10">Mot de passe</label>
                                        <label for="password" class="field prepend-icon">
                                            <input name="_password" id="password" class="gui-input" placeholder="Entrer votre mot de passe" type="password">
                                            <label for="password" class="field-icon"><i class="fa fa-lock"></i>
                                            </label>
                                        </label>
                                    </div>
                                    <label class="switch block switch-primary pull-left input-align mt10">
                                        <button type="submit" class="button btn-primary mr10 pull-right">Connexion</button>
                                    </label>
                                </div>



                            </div></div></form></div></div></section></section></div>






    <div class="jvectormap-label"></div>

{% endblock %}